Django==1.5.1
Jinja2==2.7
MarkupSafe==0.18
MySQL-python==1.2.4
PIL==1.1.7
Pillow==2.1.0
South==0.8.1
argparse==1.2.1
bitlyapi==0.1.1
braintree==2.22.0
django-appconf==0.6
django-compressor==1.3
django-flash==1.8
django-haystack==2.0.0
django-jinja2==0.1
django-pagination==1.0.7
django-picklefield==0.3.0
django-recaptcha==0.0.6
django-recaptcha-works==0.3.4
django-reversion==1.6.6
django-seo==0.3.5
django-simple-captcha==0.3.8
django-social-auth==0.7.24
django-tinymce==1.5.1
django-twitter==0.1.0
django-user-profile==1.0.3
httplib2==0.8
oauth2==1.5.211
pysolr==3.1.0
python-openid==2.2.5
python-ptrace==0.6.5
requests==1.2.3
six==1.3.0
wsgiref==0.1.2
